<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<title>Fund Transfer</title>
<link rel="stylesheet " type="text/css" href="style2.css">
<link rel="stylesheet" type="text/css" href="table.css">
<style>
	#fund_transfer table tr,#host_church_self table tr,#home_church_self table tr, #host_church_others table tr,
	#trust_funds_div table tr, #payment_div table tr{
		padding: 0px;
	}
	
	#fund_transfer table td, #host_church_self table td,#home_church_self table td, #host_church_others table td,
	#trust_funds_div table td, #payment_div table td{
		padding: 2px;
	}
	
	
	label{
		font-size:12px;
	}
</style>
</head>
<body onload="getBothFundAccounts()">
<div class="container">
<div class="navigation">
	<ul>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
		<span class="icon" >Home</span>
		</a>
		</li>
		<li id="dash">
		<a href="#">
		<span class="icon"><ion-icon name="speedometer-outline"></ion-icon></span>
		<span class="title">Dashboard</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
		<span class="title">Registration</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="archive-outline"></ion-icon></span>
		<span class="title">Manage Accounts</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
		<span class="title">Fund Transfers</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
		<span class="title">Reports and Statements</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
		<span class="title">Receipting and Reconciliation</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="pie-chart-outline"></ion-icon></span>
		<span class="title">Budget and Expenditure</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="cog-outline"></ion-icon></span>
		<span class="title">Support Options</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
		<span class="title">Sign Out</span>
		</a>
		</li>
	</ul>
</div>
	<!-- main -->
	<div class="main">
		<div class="topbar">
			<div class="toggle">
			<ion-icon name="menu-outline"></ion-icon>
			</div>

			<!-- Search -->
			<div class="search">
				<h1 style="font-size:16px;">Fund Transfer</h1>
			</div>
			
			<!-- userImg -->
			<div class="user">
				<img src="images/profile-2.jpg">
			</div>
		</div>
		
		
		<!-- Order Details List -->
		<div class="details">
			<div class="recentOrders">
				<div id="fund_transfer">
					<div class="cardHeader">
						<h2 style="text-align:center;">Fund Transfer</h2>
						<div class="responseDiv" style="display:none;"></div>
					</div>
					
					<br>
					<hr>					
					<table>
					  <tbody>
							<tr>
								<td colspan="4" style="padding-top:10px;"><b>Select a Transaction to proceed</b></td>
							</tr>
							<tr>
								<td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="transfer_to_conference">
									  <label class="form-check-label" for="church_member">
										Trust Funds To Conference
									  </label>
								  </td>
							</tr>
							<tr>
								  <td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="department_to_bank">
									  <label class="form-check-label" for="visiting_member">
										Departmental Funds to Bank
									  </label>	
								  </td>
							</tr>
							<tr>
								  <td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="department_to_another">
									  <label class="form-check-label" for="guest">
										Department to Another
									  </label>
								  </td>
							</tr>
							<tr>
								  <td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="withdrawal_from_bank">
									  <label class="form-check-label" for="group">
										Withdrawal from Bank
									  </label>	
								  </td>
							</tr>
							<tr>
								<td><button type="button" class="btn" onclick="myFunction()">Proceed</button></td>
							</tr>
					  </tbody>
					</table>
				</div>
				
				
				
			<div id="home_church_others" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Transfer to Conference</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b> Source Account</b></label></td>
							<td><select class="login_input" aria-label="Default Select Example" id="mobileprovider">
							  <option value="Cash"></option>
						  </select></td>
							<!--<td><select class="login_input" aria-label="Default Select Example" id="mobileprovider">
							  <option th:each="telcos : ${Telco}"
									  th:value="${telcos}"
									  th:text="${telcos}"></option>
						  </select></td>-->
						</tr>	
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b>Cash Account</b></label></td>
							<td><select class="login_input" aria-label="Default Select Example" id="mobileprovider">
							  <option value="Cash Account:104001(13274)">Cash Account:104001(13274)</option>
						  </select></td>
							<!--<td><select class="login_input" aria-label="Default Select Example" id="mobileprovider">
							  <option th:each="telcos : ${Telco}"
									  th:value="${telcos}"
									  th:text="${telcos}"></option>
						  </select></td>-->
						</tr>						
				<tr>
					<td><button type="button" class="btn">Get Fund Data</button></td>
				</tr>
				</table>				
			</div>
			
			
			<div id="home_church_others1" style="display:none;">
				<br>
				<hr>
				<table width="100%">
					<tbody>
						<tr>
							<td style="border-bottom: 2px solid black;"><label class="label_input" for="flexRadioDefault1"><b> Account (Balance) </b></label></td>
							<td style="border-bottom: 2px solid black;"><label class="label_input" for="flexRadioDefault1"><b> Amount </b></label></td>
						</tr>
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b> Opening Balance Tithe </b></label></td>
							<td><label class="label_input" for="flexRadioDefault1"><b> KES 0 </b></label></td>
						</tr>
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b> Tithe(7560) </b></label></td>
							<td><input type="text" id="tithe" name="tithe" placeholder="Phone Number" value="7560" readonly></td>
						</tr>
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b> Opening Balance Camp Meeting </b></label></td>
							<td><label class="label_input" for="flexRadioDefault1"><b> KES 0 </b></label></td>
						</tr>
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b> Camp Meeting(1300) </b></label></td>
							<td><input type="text" id="camp_meeting" name="camp_meeting" placeholder="Phone Number" value="1300"></td>
						</tr>						
						<tr>
							<td><label class="label_input" for="flexRadioDefault1"><b> Total Amount </b></label></td>
							<td><input type="text" id="guest_phone" name="guest_phone" placeholder="Phone Number" value="8560" readonly></td>
						</tr>
				</table>				
			</div>
			
			
			
			<div id="trust_funds_div"></div>
			
			<div id="payment_div">
				
					<table>
							<tr>
								<td colspan="4" style="padding-top:10px;"><b>Initiate Payment From:</b></td>
							</tr>
							<tr>
								<td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="registered_number">
									  <label class="form-check-label" for="visiting_member">
										My Number
									  </label>
								</td>
							</tr>
							<tr>
								  <td style="text-align:left;">
									  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="my_other_number">
									  <label class="form-check-label" for="guest">
										My Other Number
									  </label>	
								  </td>
							</tr>
							<tr>
								<td colspan="4" style="padding-top:10px;"><b>Other Methods:</b></td>
							</tr>
							<tr>
								  <td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="other_number">
									  <label class="form-check-label" for="anonymous">
										Equity Over the Counter Deposit
									  </label>
								  </td>
							</tr>
							<tr>
								<td><br></td>
							</tr>
							<tr>
								<td><br><p id="payment_line">Ensure 8560 /= has been deposited on the mobile money account for 254786439659</p></td>
							</tr>
							<tr>
								<td><button type="button" class="btn" onclick="">Initiate Transfer</button></td>
							</tr>							
					</table>
				
			</div>
			
				
				
			</div>
			<div class="recentCustomers">
				<div class="cardHeader">
					<h2 style="text-align:center;">Transfer to Church</h2>
				</div>
				<div class="responseDiv" style="display:none;"></div>
				<table width="100%">
					<thead>
						<tr>
							<td><b>Church Code</b></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="100%"><input type="number" id="church_code" placeholder="Church Code" required></td>
						</tr>
						<tr>
							<td><button type="button" class="btn" onclick="displayDetails()">Transfer Church</button></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;">Reset Pin</h2>
				</div>
				<div class="responseDiv" style="display:none;"></div>
				<table width="100%">
					<tbody>
						<tr>
							<td><b>Pin</b></td>
						</tr>
						<tr>
							<td width="100%"><input type="password" id="pin" placeholder="Pin ***" required>
							<ion-icon name="eye" style="float:right;font-size:23px;margin-right:10px;margin-top:-28px;" id="toggle-password" onclick="passwordVisibility()"></ion-icon></td>
						</tr>
						<tr>
							<td><b>Confirm Pin</b></td>
						</tr>
						<tr>
							<td width="100%"><input type="password" id="confirm_pin" placeholder="Pin ***" required><ion-icon name="eye" style="float:right;font-size:23px;margin-right:10px;margin-top:-28px;" id="toggle-password1" onclick="passwordVisibility1()"></ion-icon></td>
						</tr>
						<tr>
							<td><button type="button" class="btn" onclick="displayDetails()">Reset Pin</button></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<div id="about_app">
					<div class="cardHeader">
						<h2 style="text-align:center;margin-top:10px;">About App</h2>
					</div>
					<table width="100%">
						<tbody>
							<tr>
								<td><ion-icon name="aperture-outline" class="icons"></ion-icon></td>
								<td><a href="" class="linkers">SDA CFMS</a></td>
							</tr>
							<tr>
								<td><ion-icon name="bookmarks-outline" class="icons"></ion-icon></ion-icon></td>
								<td colspan="2"><a href="" class="linkers">Frequently Asked Questions</a></td>
							</tr>
							<tr>
								<td><ion-icon name="cloud-done-outline" class="icons"></ion-icon></td>
								<td><a href="https://lakeatts.co.ke/data_privacy.html" class="linkers">Privacy Policy</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
			

	</div>
	
	
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="myChart.js"></script>
<script src="member_receipting.js"></script>

<script type="text/javascript">
let toggle = document.querySelector('.toggle');
let navigation = document.querySelector('.navigation');
let main = document.querySelector('.main');

toggle.onclick = function(){
	navigation.classList.toggle('active');
	main.classList.toggle('active');
}

// add hovered class in selected list item
let list = document.querySelectorAll('.navigation li');
	function activeLink(){
	list.forEach((item) =>
		item.classList.remove('hovered'));
		this.classList.add('hovered');
	}
	list.forEach((item) =>
	item.addEventListener('mouseover',activeLink));
</script>
</body>
</html>