body{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    font-size:14px;
}

.button1 {
  background-color: #24478f;
  color: white;
  padding: 4px 20px;
  margin: 10px 10px;
  border: none;
  width: 90%;
  white-space: nowrap;
  border-radius:10px;
  opacity: 0.9;
  display: inline-block;
  font-size: 12px;
  text-decoration:none;
}